body{
    background-color: #C0D6DF;
    font-family: 'times new roman', times, serif;
}
h1{
    color: #721817;
}
a{
    text-decoration: none;
    color: #111D4A;
    font-size: 18px;
}
a:hover {
  border-bottom: 1px solid;
  background: #721817;
  color: #C0D6DF;
  box-shadow: -1px 1px 2px #721817;
  border: 2px solid #721817;
  border-radius: 15px;
  padding: 3px;
}