body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    gap: 10px;
    background-color: #3E5641 ;
    color: #F2E9E4;
    font-family: 'Arial', sans-serif;
}

button {
    width: 100%;
    max-width: 120px;
    background-color: #A24936;
    color: #F2E9E4;
    border: none;
    box-shadow: -10px 2px 10px #FAA613;
}

input {
    width: 100%;
    max-width: 180px;
    margin-bottom: 18px;
}
.lettrefaux,.zonependu{
    margin-bottom: 50px;
}
.zonependu{
    font-size: 20px;
    letter-spacing: 9px;
}
