body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 150vw;
    margin: 0;
    gap: 10px;
    background-color: #3E5641;
    color: #F2E9E4;
    font-family: 'times new roman', times, serif;
}

header {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    margin-left: 7vw;
    padding: 7px;
    background-color: #faa513e8;
    color: #1e2a20;
    box-shadow: -10px 7px 10px #A24936;
    border-radius: 5px;
    font-size: max(25px, 1vw);
}
i{
    margin-right: 5px;
}
h1 {
    font-size: 35px;
}

.div-theme {
    display: none;
}

.theme {
    font-size: 21px;
}

.info {
    font-style: italic;
    font-size: 16px;
}

button {
    width: 100%;
    max-width: 120px;
    background-color: #A24936;
    color: #F2E9E4;
    border: none;
    box-shadow: -10px 2px 10px #FAA613;
    border-radius: 5px;
    font-size: max(16px, 1vw);
}

input {
    width: 100%;
    max-width: 180px;
    margin-bottom: 18px;
    border-radius: 10px;
    text-align: center;
}

.lettrefaux,
.zonependu {
    margin-bottom: 50px;
}

.lettrefaux {
    font-size: 17px;
}

.zonependu {
    font-size: 20px;
    letter-spacing: 9px;
}