/*BOUTTON ACCUEIL*/
header {
    /*position: absolute;   /* ou fixed si tu veux qu’il reste à l’écran 
    top: 0;
    left: 0;*/
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    width: 18vw;
}
i {
    margin-right: 5px;
}

a {
    
    padding: 7px;
    text-decoration: none;
    color: #1e2a20;
    background-color: #F3DFA2;
    box-shadow: -10px 7px 10px #bb4530e1 ;
    border-radius: 5px;
    font-size: max(25px, 1vw);
}

a:hover {

    background-color: #BB4430;
    box-shadow: -10px 7px 10px #F3DFA2;
    border-radius: 5px;
    font-size: max(25px, 1vw);
    color: #F2E9E4;
}
/*CORPS DU JEU*/
#confetti-canvas {
  position: fixed; 
  z-index: 999; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  pointer-events: none;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7EBDC2;
    color: #060606;
    font-family: 'times new roman', times, serif;
}

.jeu {
    flex-direction: column;
    height: 100vh; /*100px*/
    width: 43vw; /*825.6px*/
    gap: 10px;
}


h1 {
    font-size: 35px;
    color: #BB4430;
}

.div-theme {
    display: none;
}

.theme {
    font-size: 21px;
}

.info {
    font-style: italic;
    font-size: 16px;
}

button {
    width: 100%;
    max-width: 120px;
    background-color: #231F20 ;
    color: #d4d3d3;
    border: none;
    box-shadow: 0px 0px 20px #F3DFA2;
    border-radius: 5px;
    font-size: max(16px, 1vw);
}

input {
    width: 100%;
    max-width: 180px;
    padding-bottom: 18px;
    border-radius: 10px;
    text-align: center;
}

.zonebravo{
    display:none;
}

.lettrefaux,
.zonependu {
    padding-bottom: 50px;
    color: #031927;
}

.lettrefaux {
    font-size: 17px;
}

.zonependu {
    font-size: 20px;
    letter-spacing: 9px;
}

.image{
    display: flex;
    border: #031927 solid 1px;   
    width: 40vw;
    height: 400px;
    box-shadow: #031927 0px 0px 20px;
}