/*BOUTTON ACCUEIL*/
header {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
}
i {
    margin-right: 5px;
}

a {
    margin-left: 7vw;
    padding: 7px;
    text-decoration: none;
    color: #1e2a20;
    background-color: #faa513e8;
    box-shadow: -10px 7px 10px #053C5E ;
    border-radius: 5px;
    font-size: max(25px, 1vw);
}

a:hover {

    background-color: #A24936;
    box-shadow: -10px 7px 10px #faa513e8;
    border-radius: 5px;
    font-size: max(25px, 1vw);
    color: #F2E9E4;
}
/*CORPS DU JEU*/
#confetti-canvas {
  position: fixed; 
  z-index: 999; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  pointer-events: none;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 150vw;
    margin: 0;
    gap: 10px;
    background-color: #A31621;
    color: #F2E9E4;
    font-family: 'times new roman', times, serif;
}


h1 {
    font-size: 35px;
}

.div-theme {
    display: none;
}

.theme {
    font-size: 21px;
}

.info {
    font-style: italic;
    font-size: 16px;
}

button {
    width: 100%;
    max-width: 120px;
    background-color: #053C5E ;
    color: #F2E9E4;
    border: none;
    box-shadow: 0px 0px 20px #FAA613;
    border-radius: 5px;
    font-size: max(16px, 1vw);
}

input {
    width: 100%;
    max-width: 180px;
    margin-bottom: 18px;
    border-radius: 10px;
    text-align: center;
}

.zonebravo{
    display:none;
}

.lettrefaux,
.zonependu {
    margin-bottom: 50px;
}

.lettrefaux {
    font-size: 17px;
}

.zonependu {
    font-size: 20px;
    letter-spacing: 9px;
}